.banner-content{
    width:45rem;
    padding-left: 3rem;
    padding-top: 300px;

}
.banner-content h1{
    font-size: 3rem;
    
}
.banner-content h2{
    font-size: 20px;
    padding-top: 1 rem;
   
}
.play{
    background-color: red;
}